body {
  margin: 4rem 0 0 0rem;
}

nav {
  overflow: hidden;
  background-color: black;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 2;
}

nav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
}

nav a:hover {
  background: rgba(10, 247, 10, 0.76);
  color: black;
}

nav .current {
  background: rgba(10, 247, 10, 0.76);
  color: black;
}
